{% extends "body.htm" %}

{% block includes %}
    <link href="/static/css/job_style.css" rel="stylesheet">
    <script src="/static/js/multiply.js"></script>
{% endblock %}

{% block content %}

    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='panel-title'>Jobs</div>
        </div>
        <div class='panel-body'>
            <table class="table table-striped custab" id="matrices">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Matrix A</th>
                        <th>Matrix B</th>
                        <th>Running time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in data.jobs %}
                        <tr>
                            <td>
                                <div class="jobid"
                                    {% if job.isFinished() == True %}
                                        style='background: #5cb85c'
                                    {% else %}
                                        style='background: #d9534f'
                                    {% endif %}
                                >

                                    <span> {{job.id}} </span>
                                <div>
                            </td>
                            <td>
                                <a href="/uploads/{{job.matrixA.filename}}">
                                    {{job.matrixA.filename}}
                                </a>
                            </td>
                            <td>
                                <a href="/uploads/{{job.matrixB.filename}}">
                                    {{job.matrixB.filename}}
                                </a>
                            </td>
                            <td>
                                {% if job.isFinished() == True %}
                                    {{job.end - job.start}}
                                {% else %}
                                    No finish yet
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}

