{% extends "body.htm" %}

{% block includes %}
    <link href="/static/libraries/jquery/jquery.fileupload.css" rel="stylesheet">
    <script src="/static/libraries/jquery/jquery.fileupload.js"></script>
    <script src="/static/js/matrix.js"></script>
{% endblock %}

{% block content %}
    <div id='new-matrix'></div>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='panel-title'>Matrices</div>
        </div>
        <div class='panel-body'>
            <button id='new-btn' class='btn btn-primary'>
                <strong>+</strong> Add new matrix
            </button>
        </div>
        <table class="table table-striped custab" id="matrices">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Rows</th>
                    <th>Cols</th>
                    <th>Matrix</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script type="text/template" id="matrix-view-template">
    <% _.each(matrices, function(matrix) { %>
        <tr data-id='<%= matrix.get('id') %>'>
            <td><%= matrix.get('id') %></td>
            <td><%= matrix.get('nRows') %></td>
            <td><%= matrix.get('nCols') %></td>
            <td>
                <a href="/uploads/<%= matrix.get('filename') %>">
                    <%= matrix.get('filename') %>
                </a>
            </td>
        </tr>
    <% }); %>
    </script>

    <script type='text/template' id='matrix-new-template'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <div class='panel-title pull-left'>New matrix</div>
                <button id='cancel-new' class='btn btn-danger pull-right'>
                    <span class='glyphicon glyphicon-remove'></span> Close
                </button>
                <div class='clearfix'></div>
            </div>

        <div class='panel-body' id='new-matrix-form'>
            <div class="form-group clearfix">
                <label for="file">File</label>
                <input class="form-control" id="filename" data-property="filename" readonly>
                <span class="btn btn-success fileinput-button" id="file">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select matrix</span>
                    <input id="fileupload" type="file" name="file">
                </span>
            </div>
            <br/>
            <button id='save-new' class='btn btn-primary'>Save</button>
        </div>
    </script>
{% endblock %}
